.App {
  min-height: 100vh;
  position: relative;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.row {
  font-size: 14px;
}

.Window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-47%);
}

.input {
  background-color: #efefef;
  position: center;
  transition: 0.5s all;
}

.green {
  background: lightgreen;
  transition: 0.5s all;
}

.Table {
  border: blue solid 1px;
}

.Bottom {
  position: absolute;
  bottom: 0;
  left: 70%;
  transform: translateX(-50%);
}

@media (max-width: 576px) {
  input {
    width: 99vw;
    position: center;
  }
}